// style3.css
// SCSS stylesheet for KigraSoft.com
// Using KigraSoft SCSS Styles (KSSS)

$ks-clr-cga00-black:     #000;
$ks-clr-cga01-blue:      #00a;
$ks-clr-cga02-green:     #0a0;
$ks-clr-cga03-cyan:      #0aa;
$ks-clr-cga04-red:       #a00;
$ks-clr-cga05-magenta:   #a0a;
$ks-clr-cga06-brown:     #a50;
$ks-clr-cga07-ltgray:    #aaa;
$ks-clr-cga08-dkgray:    #555;
$ks-clr-cga09-ltblue:    #55f;
$ks-clr-cga10-ltgreen:   #5f5;
$ks-clr-cga11-ltcyan:    #5ff;
$ks-clr-cga12-ltred:     #f55;
$ks-clr-cga13-ltmagenta: #f5f;
$ks-clr-cga14-yellow:    #ff5;
$ks-clr-cga15-white:     #fff;

