@use 'ksss-theme-ks-cga' as cga;
@forward 'ksss-theme' with (
    $light-bkg-color: cga.$ks-clr-cga15-white,
    $light-txt-color: cga.$ks-clr-cga00-black,
    $light-pre-color: cga.$ks-clr-cga07-ltgray,
    $light-cde-color: cga.$ks-clr-cga00-black,
    $dark--bkg-color: cga.$ks-clr-cga00-black,
    $dark--txt-color: cga.$ks-clr-cga02-green,
    $dark--pre-color: cga.$ks-clr-cga08-dkgray,
    $dark--cde-color: cga.$ks-clr-cga15-white,

    $txt-font: monospace!default,
);
